Repository Project-Stage-Academy/UA-1155-bravo, pull requests merged in 2024-05, with the labels that each got.

#85 72,73#api endpoint to follow,list and manage saved startups[23/2,3]
  ForumProject/ForumProject/urls.py
  ForumProject/startups/urls.py
  ForumProject/subscriptions/filters.py
  ForumProject/subscriptions/serializers.py
  ForumProject/subscriptions/urls.py
  ForumProject/subscriptions/views.py
Labels: 2 sp

#91 74#implement notifications for updates from saved startups[23-4]
  ForumProject/investors/migrations/0001_initial.py
  ForumProject/investors/urls.py
  ForumProject/notifications/apps.py
  ForumProject/notifications/migrations/0001_initial.py
  ForumProject/notifications/models.py
  ForumProject/notifications/serializers.py
  ForumProject/notifications/signals_startup.py
  ForumProject/notifications/views.py
  ForumProject/projects/migrations/0001_initial.py
  ForumProject/subscriptions/migrations/0001_initial.py
  ForumProject/users/migrations/0001_initial.py
Labels: sub-task

#92 #87 fix of permissions for startup endpoints
  ForumProject/startups/views.py
  ForumProject/subscriptions/views.py
  ForumProject/users/permissions.py
Labels: bug, sub-task

#94 #75-testing-and-integration-with-existing-features-[23-5]
  ForumProject/subscriptions/tests.py
  ForumProject/subscriptions/views.py
  ForumProject/users/permissions.py
Labels: sub-task

#101 Tests for projects app
  ForumProject/notifications/migrations/0005_alter_notificationpreferences_email_on_share_subscription_and_more.py
  ForumProject/projects/tests.py
Labels: 1 sp
